
.btn {
	border: solid 1px #d3d3d3;
	border-radius: $border-radius-base;
	background-color: #f3f3f3;
	color: #404040;
	height: 32px;
	font-size: 14px;
	padding: 0 10px;
	cursor: pointer;
	font-family: $font-family-base;
	font-weight: 500;
	vertical-align: middle;
	transition: background-color 100ms ease, color 100ms ease, border 100ms ease, box-shadow 100ms ease;

	.icon {
		width: 20px;
		height: 20px;
		vertical-align: middle;
		fill: #404040;
		display: inline-block;
	}

	span {
		vertical-align: middle;
		display: inline-block;
	}

	&:hover {
		background-color: #e3e3e3;
		border-color: #b3b3b3;
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 0 3px rgba($color-primary, .2);
		border-color: #b3b3b3;
	}

	&:active, &.active {
		background-color: #d3d3d3;
	}
}


.btn.btn--primary {
	background-color: $color-primary;
	color: #fff;
	border: none;

	.icon {
		fill: #fff;
	}
}




.btn.btn--lg {
	font-size: 16px;
}

.btn--icon-left {
	padding-left: 6px;

	span {
		padding-left: 2px;
	}
}

.btn--icon-right {
	padding-right: 6px;

	span {
		padding-right: 2px;
	}
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}