html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, html {
	height: 100%;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $text-color;
}

a {
	text-decoration: none;
	color: $color-primary-500;
	line-height: $line-height-computed;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

button {
	font-family: $font-family-base;
}

::-ms-tooltip {
	display: none;
}

// default loader style
.load {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include loader($color-primary-500, 30px);

}


// caret
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top:   4px dashed;
	border-top:   4px solid \9; // IE8
	border-right: 4px solid transparent;
	border-left:  4px solid transparent;
}

// ellipsis
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.clearfix { @include clearfix }


// helper classes
.strong         { font-weight: 700; }
.muted          { opacity: 0.6; }

.pull-left      { float: left !important; }
.pull-right     { float: right !important; }

.text-capitalize { text-transform: uppercase !important; }

// quick margin classes
.mr-none        { margin-right: 0 !important; }
.mr-sm          { margin-right: 5px !important; }
.mr-md          { margin-right: 10px !important; }
.mr-lg          { margin-right: 20px !important; }
.ml-none        { margin-left: 0 !important; }
.ml-sm          { margin-left: 5px !important; }
.ml-md          { margin-left: 10px !important; }
.ml-lg          { margin-left: 20px !important; }
.mt-none        { margin-top: 0 !important; }
.mt-sm          { margin-top: 5px !important; }
.mt-md          { margin-top: 10px !important; }
.mt-lg          { margin-top: 20px !important; }
.mb-none        { margin-bottom: 0 !important; }
.mb-sm          { margin-bottom: 5px !important; }
.mb-md          { margin-bottom: 10px !important; }
.mb-lg          { margin-bottom: 20px !important; }
.m-sm           { margin: 5px !important; }
.m-md           { margin: 10px !important; }
.m-lg           { margin: 20px !important; }
.m-0            { margin: 0 !important; }

// quick padding classes
.pr-none        { padding-right: 0 !important; }
.pr-sm          { padding-right: 5px !important; }
.pr-md          { padding-right: 10px !important; }
.pr-lg          { padding-right: 20px !important; }
.pl-none        { padding-left: 0 !important; }
.pl-sm          { padding-left: 5px !important; }
.pl-md          { padding-left: 10px !important; }
.pl-lg          { padding-left: 20px !important; }
.pt-none        { padding-top: 0 !important; }
.pt-sm          { padding-top: 5px !important; }
.pt-md          { padding-top: 10px !important; }
.pt-lg          { padding-top: 20px !important; }
.pb-none        { padding-bottom: 0 !important; }
.pb-sm          { padding-bottom: 5px !important; }
.pb-md          { padding-bottom: 10px !important; }
.pb-lg          { padding-bottom: 20px !important; }
.p-sm           { padding: 5px !important; }
.p-md           { padding: 10px !important; }
.p-lg           { padding: 20px !important; }
.p-0            { padding: 0 !important; }


// text color helpers

.color-primary        { color: $color-primary-500 !important; fill: $color-primary-500 !important; }
.color-accent         { color: $color-accent-500 !important; fill: $color-accent-500 !important; }
.color-complimentary  { color: $color-complement-500 !important; fill: $color-complement-500 !important; }
.color-success        { color: $color-success-500 !important; fill: $color-success-500 !important; }
.color-error          { color: $color-error-500 !important; fill: $color-error-500 !important; }
.color-warning        { color: $color-warning-500 !important; fill: $color-warning-500 !important; }
.color-grey           { color: $color-grey-300 !important; fill: $color-grey-300 !important; }

